In [45]:
import pandas as pd
import numpy as np

Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [46]:
def get_db_url(db_name):
    from env import user, host, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [47]:
sql = 'SELECT * FROM departments limit 3000;'

Use your function to obtain a connection to the employees database.

In [48]:
url = get_db_url('employees')

df = pd.read_sql(sql, url)
df

  dept_no           dept_name
0    d009    Customer Service
1    d005         Development
2    d002             Finance
3    d003     Human Resources
4    d001           Marketing
5    d004          Production
6    d006  Quality Management
7    d008            Research
8    d007               Sales

Once you have successfully run a query:

 a. Intentionally make a typo in the database url. What kind of error message do you see?
 
 b. Intentionally make an error in your SQL query. What does the error message look like?

In [44]:
pd.read_sql(sql, get_db_url('employee'))

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'hopper_1562'@'%' to database 'employee'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [43]:
pd.read_sql('SELECT FROM departments limit 3000;', get_db_url('employees'))

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM departments limit 3000' at line 1")
[SQL: SELECT FROM departments limit 3000;]
(Background on this error at: https://sqlalche.me/e/14/f405)

Read the employees and titles tables into two separate DataFrames.

In [51]:
url = get_db_url('employees')
sql = 'SELECT * FROM employees;'
employees = pd.read_sql(sql, url)
employees

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [52]:
url = get_db_url('employees')
sql = 'SELECT * FROM titles;'
titles = pd.read_sql(sql, url)
titles

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

How many rows and columns do you have in each DataFrame? Is that what you expected?

In [59]:
print('There are {} rows in the employees table'.format(employees.shape[0]))
print('There are {} columns in the employees table'.format(employees.shape[1]))
print('There are {} rows in the titles table'.format(titles.shape[0]))
print('There are {} columns in the titles table'.format(titles.shape[1]))

There are 300024 rows in the employees table
There are 6 columns in the employees table
There are 443308 rows in the titles table
There are 4 columns in the titles table

Display the summary statistics for each DataFrame.

In [60]:
employees.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [61]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [62]:
titles.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

In [63]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

How many unique titles are in the titles DataFrame?

In [64]:
titles.title.value_counts()

Engineer              115003
Staff                 107391
Senior Engineer        97750
Senior Staff           92853
Technique Leader       15159
Assistant Engineer     15128
Manager                   24
Name: title, dtype: int64

In [71]:
print('There are {} unique titles in the titles table.'.format(len(titles.title.value_counts())))

There are 7 unique titles in the titles table.

What is the oldest date in the to_date column?

In [72]:
titles.to_date.min()

datetime.date(1985, 3, 1)

What is the most recent date in the to_date column?

In [73]:
titles.to_date.max()

datetime.date(9999, 1, 1)

In [110]:
pd.read_sql("""SELECT MAX(to_date) AS m_recent_date FROM titles WHERE to_date NOT LIKE '9%%' """, url)

  m_recent_date
0    2002-08-01